Nits

> idnits 2.17.1 
> 
> draft-yu-ccamp-resource-pm-yang-04.txt:
> 
>   Checking boilerplate required by RFC 5378 and the IETF Trust (see
>   https://trustee.ietf.org/license-info):
>   ----------------------------------------------------------------------------
> 
>      No issues found here.
> 
>   Checking nits according to https://www.ietf.org/id-info/1id-guidelines.txt:
>   ----------------------------------------------------------------------------
> 
>      No issues found here.
> 
>   Checking nits according to https://www.ietf.org/id-info/checklist :
>   ----------------------------------------------------------------------------
> 
>   ** There are 39 instances of too long lines in the document, the longest
>      one being 40 characters in excess of 72.
> 
> 
>   Miscellaneous warnings:
>   ----------------------------------------------------------------------------
> 
>   == Line 347 has weird spacing: '...ue-unit    str...'
> 
>   == Line 363 has weird spacing: '...ue-unit    str...'
> 
>   == Line 490 has weird spacing: '...ue-unit    str...'
> 
>   == Line 501 has weird spacing: '...file-id    lea...'
> 
>   == Line 508 has weird spacing: '...ue-unit    str...'
> 
>   -- Found something which looks like a code comment -- if you have code
>      sections in the document, please surround them with '<CODE BEGINS>' and
>      '<CODE ENDS>' lines.
> 
> 
>   Checking references for intended status: Proposed Standard
>   ----------------------------------------------------------------------------
> 
>      (See RFCs 3967 and 4897 for information about using normative references
>      to lower-maturity documents in RFCs)
> 
>   == Unused Reference: 'RFC9375' is defined on line 1552, but no explicit
>      reference was found in the text
> 
>   ** Obsolete normative reference: RFC 6991 (Obsoleted by RFC 9911)
> 
>   ** Downref: Normative reference to an Informational RFC: RFC 7446
> 
>   -- Possible downref: Non-RFC (?) normative reference: ref. 'TMF-518'
> 