[IANA #1368562] Early review

> Section 3.8 of RFC 8407 says, "Each normative YANG module MUST be registered in both the 'IETF XML Registry' [RFC3688] and the 'YANG Module Names' registry  [RFC6020] .  This applies to new modules and updated modules." 
> 
> For a recent example of an IANA Considerations section that registers an XML namespace URI and a YANG module name, see RFC 9468:
> 
> https://www.rfc-editor.org/rfc/rfc9468.html
> 
> You can see the IETF XML registry here:
> 
> https://www.iana.org/assignments/xml-registry
> 
> If you have any questions, just let us know. If you'd like to talk in person, you can find us next to the RFC Editor's table from Monday through Thursday. You can also request another review at any time by contacting us at [iana@iana.org](mailto:iana@iana.org).
> 
> For more information about IANA Considerations section requirements, please see
> 
> https://www.iana.org/help/protocol-registration